<% wrap_layout :layout do %>
  <article class="article article--full">
    <header>
      <h1 class="article__title"><%= current_article.title %></h1>
      <%= partial "partials/blog-article-meta" %>
    </header>

    <%= yield %>
  </article>
<% end %>
