<p class="copy-info">
  &copy; Ben Scott <%= DateTime.now.strftime('%Y') %>.
  @BPScott on <a href="https://twitter.com/BPScott">Twitter</a> and
  <a href="https://github.com/BPScott">GitHub</a>.
</p>
