html{
  overflow-y: scroll;
  min-width: 230px;
  min-height: 100%;
  // width:320px;
}

body {
  color: $text-color;
  background-color: $background-color;
}


// These selection rule sets have to be separate.
// Customize the background color to match your design.
::-moz-selection {
    color: $selected-text-color;
    background: $selected-background-color;
    text-shadow: none;
}

::selection {
    color: $selected-text-color;
    background: $selected-background-color;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.page-wrapper,
.page-footer-outer {
  max-width: 624px;
  margin: 0 auto;
  // To account for the hanging indents on lists
  @include rem('padding', 0 ($base-font-size * 2.5));
}

// No hanging lists on small screens, so we can reduce the global border
@media screen and (max-width:599px) {
  ul, ol {
    @include rem('padding-left', ($base-font-size * 2.5));
  }

  .page-wrapper,
  .page-footer-outer {
    @include rem('padding', 0 ($base-font-size * 1));
  }
}

.page-wrapper {
  overflow: auto;
}

.page-header {
  overflow: auto;
  border-bottom: 1px solid;

  @include rem('margin', rhythm(1) 0);

  h1 {
    @include rem('font-size', modular-scale(2));
    line-height: (rhythm(1) / modular-scale(2));

    a {
      @extend .link-nostyle;
    }

    // &:before {
    //   display: inline-block;
    //   height: 20px;
    //   width: 24px;
    //   margin-left: -24px;
    //   background: inline-image('reload-logo.png') 0 1px no-repeat;
    //   content: ' ';
    // }
  }
}

.page-footer {
  border-top: 1px solid;
}

.header-title {
  float: left;
}

.header-nav {
  float: right;
}

.copy-info {
  @include rem('font-size', modular-scale(-1));
  line-height: (rhythm(1) / modular-scale(-1));
  @include rem('margin', rhythm(0.5) 0);
}


/* Grid */
.grid {
  @extend %grid;
}
.grid--main {
  @extend %grid__item, %desk--two-thirds;
}

.grid--aside {
  @extend %grid__item, %desk--one-third;
}
