html{
  overflow-y: scroll;
  min-width: 230px;
  min-height: 100%;
  // width:320px;
}

body {
  color: $text-color;
  background-color: $background-color;
}


// These selection rule sets have to be separate.
// Customize the background color to match your design.
::-moz-selection {
    color: $selected-text-color;
    background: $selected-background-color;
    text-shadow: none;
}

::selection {
    color: $selected-text-color;
    background: $selected-background-color;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.page-wrapper,
.page-footer-outer {
  max-width: 624px;
  margin: 0 auto;
  @include rem('padding', 0 ($base-font-size));
}

.page-wrapper {
  overflow: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid;

  @include rem('margin', rhythm(1) 0);

  h1 {
    @include rem('font-size', modular-scale(2));
    line-height: (rhythm(1) / modular-scale(2));

    a {
      @extend .link-nostyle;
    }
  }
}

.page-content {
  border-bottom: 1px solid;
}

.header-title {
  margin-right: 1em;
}

.header-nav {
  list-style: none;
  margin-left: -0.5em;
  padding-left: 0;
  display: flex;

  li {
    padding-left: 0.5em;
  }

  li, a {
    display: inline-block;
  }
}


.copy-info {
  @include rem('font-size', modular-scale(-1));
  line-height: (rhythm(1) / modular-scale(-1));
  @include rem('margin', rhythm(0.5) 0);
}

/* Bigger screen trumps */
@media screen and (min-width:600px) {
  // Hanging punctuation
  ul,
  ol {
    padding-left: 0;

    // Indent nested lists
    ul,
    ol {
      @include rem('padding-left', ($base-font-size * 2.5));
    }
  }

  // Greater margin to account for the hanging indents on lists
  .page-wrapper,
  .page-footer-outer {
    @include rem('padding', 0 ($base-font-size * 2.5));
  }

  // Reload logo
  .page-header h1 a {
    &:before {
      display: inline-block;
      height: 20px;
      width: 20px;
      padding-left: 4px;
      margin-left: -24px;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAABZ0lEQVQ4ja3UvUqdQRAG4EdN/ElhioAgit6BjYVtCsEyBi9BLIImCjYqgQhegKVNCisxJKQwwR8U0gmKoLmEKAgK/iSCJI1a7B6yHr/VA54XFr795p13Zmd3hiqj5h5bMwbQjU404hA/8BV/MI4ejEVbIerwHpe4zqxzLCX7yZzYM2yUOZ/hZ1xnmQDTRWJPsJ6QdvAyZlxCPZYrFZxJCF/QUMAZrjTDVv9rtpsRg08ZwZH0mDCIpvg9gX8ZwVFsJ36EC5ovJ36PkfZRmxGrCCXnFeHIH3D1GMFqYBAneFMNsTocCOX6xu3iNmAI7cm/C3zEUUawL+FvlhvfKn4SixmxRqF7rmPgFm7f6IuM453IUWwBXXE/g+Ny0nRBdutCu5XwFK+wl3BW08TSGhahV6jfvjDqOvA8sa/htcxTm0qiLuF3QcaldYp3CpogHbBtmBUG6FzMpF8YoB1R6Be28Bl/HzhddXADrFB4NAulVSEAAAAASUVORK5CYII=') 0 1px no-repeat;
      content: ' ';
      transform: rotate(0deg);
      transform-origin: 10px 11px;
      transition: all 0s linear;
    }

    &:hover:before {
      transform: rotate(360deg);
      transition: all 1s linear;
    }
  }
}
