html{
  overflow-y: scroll;
  min-width: 230px;
  min-height: 100%;
  // width:320px;
}

body {
  color: $text-color;
  background-color: $background-color;
}


// These selection rule sets have to be separate.
// Customize the background color to match your design.
::-moz-selection {
    color: $selected-text-color;
    background: $selected-background-color;
    text-shadow: none;
}

::selection {
    color: $selected-text-color;
    background: $selected-background-color;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.page-wrapper,
.page-footer-outer {
  max-width: 624px;
  margin: 0 auto;
  @include rem('padding', 0 ($base-font-size));
}

.page-wrapper {
  overflow: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  padding: 0 4px;

  @include rem('margin', rhythm(1) 0);

  h1 {
    @include rem('font-size', modular-scale(2));
    line-height: (rhythm(1) / modular-scale(2));

    a {
      @extend .link-nostyle;
    }
  }
}

.page-content {
  border-bottom: 1px solid;
}

.header-title {
  margin-right: 1em;
}

.header-nav {
  list-style: none;
  margin-left: -0.5em;
  padding-left: 0;
  display: flex;

  li {
    padding-left: 0.5em;
  }

  li, a {
    display: inline-block;
  }
}


.copy-info {
  @include rem('font-size', modular-scale(-1));
  line-height: (rhythm(1) / modular-scale(-1));
  @include rem('margin', rhythm(0.5) 0);
}

/* Bigger screen trumps */
@media screen and (min-width:600px) {
  // Hanging punctuation
  ul,
  ol {
    padding-left: 0;

    // Indent nested lists
    ul,
    ol {
      @include rem('padding-left', ($base-font-size * 2.5));
    }
  }

  // Greater margin to account for the hanging indents on lists
  .page-wrapper,
  .page-footer-outer {
    @include rem('padding', 0 ($base-font-size * 2.5));
  }

  // Reload logo
  .page-header h1 a {
    &:before {
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-left: -26px;
      margin-right: 8px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M371 133a168 168 0 00-278 82c-1 5-6 9-12 9H24c-7 0-13-7-12-14A248 248 0 01427 77l36-36c15-15 41-4 41 17v134c0 13-11 24-24 24H346c-21 0-32-26-17-41l42-42zM32 296h134c21 0 32 26 17 41l-42 42a168 168 0 00278-82c1-5 6-9 12-9h57c7 0 13 7 12 14A248 248 0 0185 435l-36 36c-15 15-41 4-41-17V320c0-13 11-24 24-24z"/></svg>') 0 0 no-repeat;
      content: ' ';
      transform: rotate(-10deg);
      transform-origin: 50% 50%;
      transition: all 0s linear;
    }

    &:hover:before {
      transform: rotate(350deg);
      transition: all 1s linear;
    }
  }
}
