// Typography, vertical rhythm and modular scale
$base-font-size: 16px;
$base-line-height: 1.5;
$ratio: 4/3; // Perfect fourth

// Grid config
$use-silent-classes: true;

// Colors
$text-color: #444;
$background-color: #fbfbfb;

$selected-text-color: darken($text-color, 15%);
$selected-background-color: darken($background-color, 15%);

$link-color: #4675A4;
$link-color-hover: #e60900;
