// Typography, vertical rhythm and modular scale
$base-font-size: 16px;
$base-line-height: 1.5;
$ratio: 4/3; // Perfect fourth

// Grid config
$use-silent-classes: true;

// Colors
$text-color: #444;

$link-color: #4C7EB1;
$link-color-hover: #e60900;

