/* Syntax Highlighting */

.highlighttable {
  width: 100%;
  @include rem('margin', 0 0 rhythm(1) 0);
  border: 1px solid #d9d9d9;
  background: #fff;

  td {
    padding: 0;
  }

  .linenos {
    border-right: solid 1px #d9d9d9;
    text-align: right;
  }
}

.linenos,
.highlight {
  @include rem('padding', rhythm(0.25));
  @include rem('margin', rhythm(-0.25) 0 rhythm(0.75));

  pre {
    margin-bottom: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
    // Line numbers being off is due to line wrapping.
    // Work out how to stop lines wrapping
  }
}
