---
title: About Ben Scott
---


<h1 id="who">Who?</h1>
<p>
Hi, I'm Ben.
I'm a web developer who likes making websites that give people the information they need as quickly as possible.
I used to claim to be a front-end specialist but I've always been more than happy to dig into the server-side too, so I stopped pigeonholing myself.
I like design systems and have <a href="https://www.youtube.com/watch?v=qSrM411MD8A">talked about building them in my corner of the BBC</a>.
</p>

<p>
I am a Staff Web Developer for Shopify, where I work on their <a href="https://polaris.shopify.com/">Polaris design system</a>.
</p>

<p>
Previously I was the Technical Lead for <a href="http://www.bbc.co.uk/programmes/">bbc.co.uk/programmes</a>.
My team and I spent our time migrating the site to be hosted on AWS, fully rewriting it in the process.
The project is <a href="/2017/developing-in-the-open/">developed in the open</a>, you can see how well that is going by checking out their <a href="https://github.com/bbc/programmes-frontend">GitHub repo</a>.
</p>

<p>
When not making websites I enjoy snowboarding, martial arts, watching rugby and sleeping in.
</p>

<h2 id="what">What?</h2>
<p>Websites mainly. Over the years I have worked on:</p>
<ul>
<li><a href="http://polaris.shopify.com/">polaris.shopify.com</a> &mdash; Still kinda new to this (May 2018 &ndash; Present).</li>
<li><a href="http://www.bbc.co.uk/programmes/">bbc.co.uk/programmes</a> &mdash; Implemented a redesign utilising responsive design and formulated a standard design system, followed by migrating the codebase to use Symfony (Jan 2013 &ndash; April 2018).</li>
<li><a href="http://www.divide.com">divide.com</a> &mdash; Sole developer for their marketing website (Jan 2012 &ndash; Dec 2012).</li>
<li><a href="http://www.itv.com/">itv.com</a> &mdash; Various projects creating websites for a number of television shows (July 2010 &ndash; Dec 2011).</li>
<li><a href="http://www.gm.tv/">gm.tv</a> &mdash; Implemented a site-wide redesign and ongoing maintenance (July 2008 &ndash; June 2010).</li>
</ul>

<p>When I lived in the UK I was a regular volunteer coach at <a href="https://codebar.io/">codebar London</a>.

<h2 id="where">Where?</h2>
<p>
I currently live in Vancouver, Canada. Prior to May 2018 I spent 10 years living in London, UK.
</p>
