---
title: About Ben Scott
---


<h1 id="who">Who?</h1>
<p>Ben Scott graduated from Staffordshire University in 2008 with a 2:1 in Computing Science.
When not developing websites he enjoys snowboarding, martial arts, watching rugby and sleeping in.</p>

<h2 id="what">What?</h2>
<p>Websites mainly. Some websites Ben has been involved in:</p>
<ul>
  <!-- <li><a href="http://www.bbc.co.uk/programmes/">bbc.co.uk/programmes</a>  &mdash; Responsive redesign (Jan 2013 &ndash; Present)</li> -->
  <li><a href="http://www.divide.com">divide.com</a> &mdash; (Jan 2012 &ndash; Dec 2012)</li>
  <li><a href="http://www.itv.com/">itv.com</a> &mdash; Various projects creating websites for a number of television shows. (July 2010 &ndash; Dec 2011).</li>
  <li><a href="http://www.gm.tv/">gm.tv</a> &mdash; Implemented a site-wide redesign and ongoing maintenance. (Mid 2008 &ndash; June 2010).</li>
</ul>

<h2 id="where">Where?</h2>
<p>Ben currently lives in South London and works as front-end web developer for <a href="http://www.bbc.com/">BBC Future Media</a>.</p>
